<%inherit file="base.html"/>

<h2>Dokument hochladen</h2>

<p>Bitte wählen Sie ein Word-Dokument zum Konvertieren aus. Das Dokument sollte
nur einen einzelnen Artikel enthalten, ohne Überschrift.

<form action="/convert" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required
           accept=".docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
    <!--fieldset>  (Doesn't play nicely with Typo3 editor, so removed for now)
        <legend>Optionen</legend>
        <label for="footnote-links">
            <input type="checkbox" id="footnote-links" name="footnote_links" checked>
            Fußnoten verlinken (<a href="/help#footnote_links">Anmerkung</a>)
        </label>
    </fieldset-->
    <button onclick="pulse(this)">Konvertieren</button>
</form>
