button {
    transition: transform 200ms;
}

button.pulse {
    transform: scale(1.1);
}

button + button {
    margin-left: var(--ok-s-2);
}

fieldset > label {
    display: block;
    margin-top: 0.8rem;
}

fieldset > label:first-of-type {
    margin-top: initial;
}

details {
    display: initial;
    border: var(--ok-b-0);
    border-radius: var(--ok-br);
    padding: var(--ok-s-2) var(--ok-s-3);
}

summary {
    font-weight: bold;
    margin-bottom: 0;
}

details[open] {
    display: block;
}

details[open] summary {
    margin-bottom: var(--ok-s-2);
}

details:not([open]) + button {
    margin-left: var(--ok-s-2);
}

details + h2 {
    margin-top: 0;
}

/* Article style */

ol.footnotes {
    padding: 0;
}

ol.footnotes li {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 1.25rem;
    margin-bottom: 0.3rem;
    margin-left: 0;
}

ol.footnotes li:before {
    content: attr(value);
    width: 1rem;
    text-align: right;
    vertical-align: super;
    font-size: smaller;
    position: absolute;
    left: 0;
}

p.citation {
    margin-left: 1rem;
    text-indent: -1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
